<section>
    <img src="./assets/featured-article.png"
        alt="footer miniature image">
    <div id="content">
        <img src="./assets/logo-wireframe.png" alt="logo png" class="logo">
        <h4>Vidéos et Podcasts</h4><!--uppercase-->
        <h5>Les plus belles villes du monde</h5><!--uppercase-->
        <p>Notre planète regorge de merveilles. Voici une petite sélection des villes, hors de France, qui nous ont tapé dans
        l'oeil.</p>
        <ul>
            <li><a href="#">Voir les vidéos</a></li>
            <li><a href="#">Écouter les podcasts</a></li>
        </ul>
    </div>
</section>
