<!-- ARTICLE CATEGORY -->
<!-- <div id="header-home-page">
    <div class="container">
        <div class="header-home-page-info">
            <h1>{{ title }}</h1>
            <div class="subcategories"
                *ngFor="let cat of subcategories">
                <span><img src="{{ cat.image }}">{{ cat.name }}</span>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="container">
        <div class="nav">
            <span><img src="./assets/icons/tempslecture.svg" alt="">Temps de lecture</span>
            <span><img src="./assets/icons/contenttype.svg"
                alt="">Type de contenu</span>
            <span><img src="./assets/icons/themes.svg"
                alt="">Thèmes</span>
            <img src="./assets/icons/search.svg">
            <button>Valider</button>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <img src="" alt="publicité">
    </div>
</div>

<div>
    <div class="container">
        <app-featured-article></app-featured-article>
        <div class="featured-articles">
            <app-featured-article></app-featured-article>
            <app-featured-article></app-featured-article>
        </div>
    </div>
</div> -->

<!-- SINGLE ARTICLE -->

<div class="header-article">
  <img src="../../../assets/article.jpg" alt="" class="bg-move">
  <div class="container">
    <div class="header-info">
      <h1 class="titre">Le festival Chilowé,
        deux jours consacrés
        à la micro-aventure à vivre
        à la Fondation GoodPlanet</h1>
        <p>Chilowé, le média spécialiste de la micro-aventure a décidé de lancer son premier festival. Organisé les 19 et 20 septembre prochains à la Fondation Good Planet, l'événement proposera des rencontres avec des aventuriers, des projections ou encore des ateliers découvertes.</p>
      </div>
    </div>
  </div>

  <div class="header-white">

  </div>

  <div class="article">

    <div class="container">

      <div class="nav-article">
        <span>Lecture Rapide (5min)</span><span>Article Condensé</span>
      </div>
      <span id="time">Temps de lecture : 10 minutes</span>
      <br>
      <br>
      <br>
      <div class="tag-list">
        <span>Voyage</span><span> France</span>
      </div>
      <span id="auteur">Par Emeline Férard - Publié le 17/06/2020 à 11h33</span>

      <p>Pas besoin de s'envoler à l'autre bout de la planète pour partir à l'aventure. Il suffit parfois de s'éloigner de quelques kilomètres de chez soi pour vivre des échappées insolites. C'est de ce constat qu'est né la micro-aventure, un concept qui gagne de plus en plus de terrain en France. La preuve, il sera bientôt au cœur d'un festival organisé par <b>Chilowé</b>, le média entièrement consacré à la micro-aventure.<br>

        L'événement inédit se tiendra les samedi 19 et dimanche 20 septembre prochains à la <b>Fondation GoodPlanet</b> au cœur du Bois de Boulogne, près de Paris. Au programme : des projections, des activités, des ateliers mais aussi des conférences et rencontres avec des hommes et des femmes qui ont déjà fait de l'aventure leur quotidien.<br>

        Parmi eux, le photographe Yann Arthus-Bertrand, l'explorateur Matthieu Tordeur<b> qu'on ne vous présente plus </b>mais aussi <b>Violette Duval qui achève actuellement son périple de 6.500 kilomètres à pied</b>, Jérémie Villet, le photographe <b>amoureux des "paysage tout blancs" </b>ou encore Vianney Clavreul, un guide naturaliste qui parcourt la France en se nourrissant de plantes sauvages.<br>
      </p>

    </div>

    <img src="../../../assets/maison.jpg" alt="" class="img-deco">


    <div class="container" >
      <div class="has-2-columns">
        <div class="has-column" style="width: 100%;">
          <p style="width: 100%;">Objectif de l'événement : inspirer les festivaliers et leur apprendre à "devenir des micro-aventuriers de compet". Une nouvelle initiative pour l'équipe de Chilowé qui, à travers sa plateforme internet, propose déjà des centaines d'idées d'escapades et activités en France et qui a publié en 2018 <b>son premier guide</b> en version papier.</p>

          <p style="width: 100%;">"Notre mission est d'aider notre public à passer plus de temps dehors, à mieux connaitre et respecter la nature grâce à des actions faciles demandant peu de moyens", explique Thibault Labey, co-fondateur de Chilowé à GEO Aventure qui consacre justement<b> son dernier numéro à la micro-aventure</b> et propose des idées de "mini-trips" pour se lancer.</p>

          <p style="width: 100%;">"Nous sommes dans un monde en mutation, et nous avons envie d'y prendre part en consommant, en travaillant et en nous déplaçant différemment. La micro-aventure s'inscrit dans ce désir. Elle nous fait prendre conscience que la France est un formidable terrain de jeu. Qu'il est aussi sexy de crapahuter dans le Jura que de surfer au Costa Rica", poursuit le co-fondateur.</p>

          <p style="width: 100%;">Alors si vous n'avez pas encore bien saisi le concept ou si, à l'inverse, vous avez déjà sauté le pas de l'aventure près de chez soi, rendez-vous les 19 et 20 septembre prochains avec la communauté Chilowé.</p>

          <p style="width: 100%;">Pour en savoir plus sur le festival, <b>rendez-vous sur le site officiel.</b></p>
        </div>

        <div class="has-column">
          <img src="../../../assets/pub.png" alt="" class="action-pub" style="float:right;">
        </div>
      </div>

      <h4>À lire aussi</h4>
      <p>>>  <b>Des centaines de nouvelles randonnées à travers la France à découvrir sur Helloways </b> <br>
        >> <b>On a testé la Mad Jacques, la course en stop déjantée qui vous emmène dans un village de la Creus</b> <br>
        >> <b>Quelles sont les plus belles randonnées de France ? </b><br></p>

      </div>
    </div>


    <div >
      <div class="container">
<h2>Pour aller plus loin</h2>
<div class="has-2-columns">
  <div class="has-colum">
    <app-featured-article
      [image]=""
      [contentType]="'Article'"
      [tags]="['Voyage', 'Belgique']"
      [title]="'Quelles sont les plus belles villes de Belgique ?'"
      [description]="'Grâce à sa frontière commune avec la France, la Belgique est une destination idéale lorsqu\'on ne veut pas voyager très loin. Surtout que le plat pays possède des villes charmantes. Voici une sélection de celles qui nous ont tapé dans l\’œil.'"></app-featured-article>
  </div>

</div>
      </div>
    </div>
