<header>
  <div class="hamburger hamburger--spring js-hamburger">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
  </div>
  <nav>
    <ul id="primary-nav">
      <div id="start-nav">
        <img src="../../../assets/logo.svg" alt="">
      </div>
      <div id="menu-nav">
        <li id="link1" class="is-active"><a href="">Voyage</a>
          <ul class="sub-menu">
            <div id="sub-menu-nav">
              <li><a href="#">Géo +</a></li>
              <li><a href="#">Tourisme</a></li>
              <li><a href="#">Géopolitique</a></li>
              <li><a href="#">Vacances</a></li>
              <li><a href="#">Les incontournables</a></li>
              <li><a href="#">Vidéos de voyage</a></li>
            </div>
            <div id="sub-menu-info">
              <h3>Découvrez la Selection Géo</h3>
              <img src="../../../assets/encard.jpg" alt="">
            </div>
          </ul>
        </li>
        <li id="link2"><a href="">Environnement</a>
          <ul class="sub-menu">
            <div id="sub-menu-nav">
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Les Lorem</a></li>
              <li><a href="#">Vidéos de Lorem</a></li>
            </div>
            <div id="sub-menu-info">
              <h3>Découvrez la Selection Géo</h3>
              <img src="../../../assets/encard.jpg" alt="">
            </div>
          </ul>
        </li>
        <li><a href="#">Histoire</a></li>
        <li><a href="#">Aventure</a></li>
        <li><a href="#">Destination</a></li>
        <br>
        <li><a href="#">Photoreportage</a></li>
        <li><a href="#">Podcast</a></li>
        <li><a href="#">Vidéo</a></li>
        <li><a href="#">Communauté</a></li>
        <br>
        <li><a href="#">Voyager avec Evaneos</a></li>
        <li><a href="#">ABONNEMENTs magazine</a></li>
        <li><a href="#">Séléction GEO - BOUTIQUE</a></li>

      </div>

      <div id="end-nav">
        <img src="https://avatarfiles.alphacoders.com/146/thumb-146083.jpg" alt="avatar">
        <p>ThePug</p>
      </div>
    </ul>
  </nav>
</header>
