<section>
    <div id="image">
        <img src="{{ image }}"
            alt="footer miniature image">
        <div class="tag">{{ contentType }}</div>
    </div>
    <div id="content">
        <p class="tags"
            *ngFor="let tag of tags">
            <span href="#">{{ tag }}</span>
        </p>
        <h3>{{ title }}</h3>
        <p>{{ description }}</p>
        <ul>
            <li><a href="#">Sauvegarder</a></li>
            <li><a href="#">Partager</a></li>
        </ul>
    </div>
</section>
