<section>
    <div id="image">
        <img src="{{ image }}"
            alt="footer miniature image">
        <div class="tag">{{ contentType }}</div>
    </div>
    <div id="content-article-list">
        <div class="tag-list">
            <span *ngFor="let tag of tags">{{ tag }}</span>
        </div>
        <h3>{{ title }}</h3>
        <p>{{ description }}</p>
        <ul class="share-buttons">
            <li><img src="./assets/icons/saveBlack.svg"
                    alt="save icon">Sauvegarder</li>
            <li><img src="./assets/icons/shareBlack.svg"
                    alt="save icon">Partager</li>
        </ul>
    </div>
</section>
