#header-home-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url('../../../assets/accueil.jpg');
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2%;
  box-sizing: border-box;
  background-size: cover;
  .header-home-page-info {
    width: 70%;
    color: white;
  }
}


.bg-culture-g {
  background: linear-gradient(0deg, rgba(68, 74, 88, 0.2), rgba(68, 74, 88, 0.2)), linear-gradient(180deg, rgba(68, 74, 88, 0) 0%, rgba(68, 74, 88, 0.5) 100%), url('../../../assets/culture-g.jpg');
  background-size: cover;
  color: white;
  text-align: center;
  background-position: center;
  h2 {
    padding-top:250px;
    color: white;
    font-size:45px;
    &:after {
      display: none;
    }
  }
  h3 {
    font-style: normal;
    font-weight: bold;
  }
  p {
    width: 50%;
    margin: 0 auto;
    &:nth-of-type(2)  {
      text-decoration: underline;
    }
  }
}

.last-videos {
  .has-column {
    padding-right: 50px;
    img {
      width: 90%;
      padding: 20px 0;
    }
    &:first-of-type {
      border-right: solid 1px white;
      flex-basis: 70%;
      .tag-list {
        span {
          background: white;
          color:#444A58;
        }
      }
    }
    &:last-of-type {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .videos {
        position: relative;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        height: 200px;
        overflow:hidden;

        img {
          position: absolute;
          top:0;
          height: 250px;
          object-fit:cover;
          padding: 0px;
          z-index: 0;
          width: 100%;
        }
        .tag-list, p {
          z-index: 1;
          position: relative;
          padding: 0 10px;
        }

      }
    }
  }
}

.communaute-photo {
  span {
    text-align: right;
    display: block;
    position: relative;
    &:before {
      content: url('../../../assets/sablier.svg');
      position: absolute;
      top:3px;
      left:57%;
    }
  }
}

.community-photos {
  display: flex;
  margin-top: 30px;

  .photo:not(:last-of-type) {
    margin-right: 20px;
  }
}

.mini-featured {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  app-featured-article {
    flex-basis: 49%;
  }
}

.boutons {
  display: flex;
  width: 55%;
  margin: auto;
  justify-content: space-between;
}


.miniArticles {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  // section:not(:last-of-type) {
  //   margin-right: 5px;
  // }

  > *:not(:last-of-type) {
    margin-right: 20px;
  }
}

.page-section {
  margin-bottom: 35px;
}

.recomendations {
  display: flex;
  justify-content: space-between;

  .reco {
    flex-basis: 32.5%;
    img {
      max-width: 100%;
    }
  }
}

.footer {
  display: flex;
}

.podcasts {
  display: flex;
  justify-content: space-between;
margin-top: 20px;
  .left {
    flex-basis: 60%;
  }

  .right {
    flex-basis: 10%;
  }
}

.magazine {
  h3 {
    text-align: center;
    margin-bottom: 50px;
  }

  img {
    max-width: 100%;
  }

  .top-magazine, .bottom, .right {
    display: flex;
  }

  .top-magazine {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
    .top-content-magazine {
      width: 60%;
      height: 80%;
      position: absolute; /* postulat de départ */
      top: 50%; left: 50%; /* à 50%/50% du parent référent */
      transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a.outline {
        background: transparant;
        border: solid 1px white;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Rosario;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        margin: 10px;
        padding: 10px 25px;
        letter-spacing: 1px;
      }
    }
  }

  .bottom {
    justify-content: space-between;

    .left {
      flex-basis: 66%;
      background-color: white;
      color: black;
      padding: 50px;

      ul li {
        display: block;
      }

    }

    .right {
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
      }
    }
  }

}


.magasin-geo {
  h2 {
    text-align: center;
    font-size: 46px;
    &:after {
      display: none;
    }
  }
  h3 {
    font-family: Rosario;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }
}

app-header {
  width: 100vw;
  position: relative;
  z-index: 1;
  position: fixed;
}
