<div id="header-home-page">
  <div class="container">
    <div class="header-home-page-info">
      <div class="tag-list">
        <span>Voyage</span> <span>Espagne</span>
      </div>
      <h1>En Mongolie, avec ces nomades du désert de Gobi qui tiennent tête à un monstre minier</h1>
      <p>Dans le sud de la Mongolie, un gigantesque complexe minier a surgi du sable, bouleversant le mode de vie des éleveurs des environs. L’histoire aurait pu s’arrêter là. Mais ils se sont battus et ont arraché à la mine un accord historique. Un David nomade qui tient tête à un ...</p>
    </div>
  </div>
</div>


<div>
  <div class="container">
    <h2>Dernières parutions</h2>
  </div>
</div>

<div class="bg-gris">
  <div class="container">
    <h2>Les + Populaires</h2>
  </div>
</div>

<div class="bg-culture-g">
  <div class="container">
    <h2>Testez votre culture générale</h2>
    <h3>AVEC UN DE NOS NOMBREUX QUIZZ</h3>
    <p>Voyagez en toute sérénité, en famille, en couple, entre amis...
      Plus de 8000 idées de voyages à découvrir et personnaliser</p>
      <br>
      <p>JE VEUX ME TESTER</p>
    </div>
  </div>
  <br>
  <br>
  <div class="bg-gris-fonce last-videos">
    <div class="container">
      <h2>Dernières Vidéos</h2>
      <div class="has-2-columns">
        <div class="has-column">
          <img src="../../../assets/video.png" alt="">
          <div class="tag-list">
            <span>Agriculture</span> <span>France</span>
          </div>
          <h3>France: Greenpeace fait son mea culpa sur l'élevage bovin, mais dénonce l'élevage industriel breton</h3>
        </div>
        <div class="has-column">
          <div class="videos">
            <img src="../../../assets/vache.jpg" alt="">
            <div class="tag-list">
              <span>Agriculture</span>
            </div>
            <p>France: Greenpeace fait son mea culpa sur l'élevage bovin, mais dénonce l'élevage indus...</p>
          </div>
          <div class="videos">
            <img src="../../../assets/environnement.jpg" alt="">
            <div class="tag-list">
              <span>Environnement</span>
            </div>
            <p>Environnement : les particules de plastique sont partout</p>
          </div>
          <div class="videos">
            <img src="../../../assets/voyage.jpg" alt="">
            <div class="tag-list">
              <span>Voyage</span>
            </div>
            <p>Du microplastique découvert dans l'écosystème terrestre de l'Antarctique.</p>
          </div>
          <div class="bouton-blanc">
            <p><a href="#">VOIR + de RÉCITS</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="communaute-photo">
    <div class="container">
      <h2>Communauté photo</h2>
      <span>Il vous reste une semaine pour élire la photo  du mois !</span>
      <div class="has-3-columns">
        <div class="photo">

        </div>
      </div>
    </div>
  </div>
