<div id="header-home-page">
  <div class="container">
    <div class="header-home-page-info">
      <div class="tag-list">
        <span>Voyage</span> <span>Espagne</span>
      </div>
      <h1>En Mongolie, avec ces nomades du désert de Gobi qui tiennent tête à un monstre minier</h1>
      <p>Dans le sud de la Mongolie, un gigantesque complexe minier a surgi du sable, bouleversant le mode de vie des éleveurs des environs. L’histoire aurait pu s’arrêter là. Mais ils se sont battus et ont arraché à la mine un accord historique. Un David nomade qui tient tête à un ...</p>
    </div>
  </div>
</div>


<div>
  <div class="container">
    <h2>Dernières parutionS</h2>
  </div>
</div>

<div class="bg-gris">
  <div class="container">
    <h2>Dernières parutionS</h2>
  </div>
</div>
