#header-home-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url('../../../assets/accueil.jpg');
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2%;
  box-sizing: border-box;
  background-size: cover;
  .header-home-page-info {
    width: 70%;
    color: white;
  }
}


.bg-culture-g {
  background: linear-gradient(0deg, rgba(68, 74, 88, 0.2), rgba(68, 74, 88, 0.2)), linear-gradient(180deg, rgba(68, 74, 88, 0) 0%, rgba(68, 74, 88, 0.5) 100%), url('../../../assets/culture-g.jpg');
  background-size: cover;
  color: white;
  text-align: center;
  h2 {
    padding-top:250px;
    color: white;
    &:after {
      display: none;
    }
  }
  h3 {
    font-style: normal;
    font-weight: bold;
  }
  p {
    width: 50%;
    margin: 0 auto;
    &:nth-of-type(2)  {
      text-decoration: underline;
    }
  }
}

.last-videos {
  .has-column {
    padding-right: 50px;
    img {
      width: 90%;
      padding: 20px 0;
    }
    &:first-of-type {
      border-right: solid 1px white;
      flex-basis: 70%;
      .tag-list {
        span {
          background: white;
          color:#444A58;
        }
      }
    }
    &:last-of-type {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .videos {
        position: relative;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        height: 200px;
        overflow:hidden;

        img {
          position: absolute;
          top:0;
          height: 250px;
          object-fit:cover;
          padding: 0px;
          z-index: 0;
          width: 100%;
        }
        .tag-list, p {
          z-index: 1;
          position: relative;
          padding: 0 10px;
        }

      }
    }
  }
}

.communaute-photo {
  span {
    text-align: right;
    display: block;
    position: relative;
    &:before {
      content: url('../../../assets/sablier.svg');
      position: absolute;
      top:3px;
      left:57%;
    }
  }
}

.community-photos {
  display: flex;
  margin-top: 30px;

  .photo:not(:last-of-type) {
    margin-right: 20px;
  }
}

.mini-featured {
  display: flex;
  section {
    flex-basis: 50%;
  }
}

.boutons {
  display: flex;
  width: 55%;
  margin: auto;
  justify-content: space-between;
}


.miniArticles {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  // section:not(:last-of-type) {
  //   margin-right: 5px;
  // }

  > *:not(:last-of-type) {
    margin-right: 10px;
  }
}

.page-section {
  margin-bottom: 35px;
}
