<div id="header-home-page">
  <div class="container">
    <div class="header-home-page-info">
      <div class="tag-list">
        <span>Voyage</span> <span>Espagne</span>
      </div>
      <h1>En Mongolie, avec ces nomades du désert de Gobi qui tiennent tête à un monstre minier</h1>
      <p>Dans le sud de la Mongolie, un gigantesque complexe minier a surgi du sable, bouleversant le mode de vie des éleveurs des environs. L’histoire aurait pu s’arrêter là. Mais ils se sont battus et ont arraché à la mine un accord historique. Un David nomade qui tient tête à un ...</p>
    </div>
  </div>
</div>


<div>
  <div class="container">
    <h2 class="page-section">Dernières parutions</h2>
    <app-featured-article
      [image]="'./assets/featured-home/chilowe.png'"
      [contentType]="'Article'"
      [tags]="['Évènement', 'Paris']"
      [title]="'Le festival Chilowé, deux jours consacrés à la micro-aventure à vivre à la Fondation GoodPlanet'"
      [description]="'Chilowé, le média spécialiste de la micro-aventure a décidé de lancer son premier festival. Organisé les 19 et 20 septembre prochains à la Fondation Good Planet, l\'évènement proposera des rencontres avec des aventuriers, des projections ou encore des ateliers découvertes.'">
    </app-featured-article>
    <div class="mini-featured">
      <app-featured-article
        [image]="'./assets/featured-home/barcelone.png'"
        [contentType]="'Article'"
        [tags]="['Voyage', 'Espagne']"
        [title]="'A Barcelone, un concert devant 2292 plantes pour célébrer la réouverture...'"
        [description]="'Grâce à sa frontière commune avec la France, la Belgique est une destination idéale lorsqu\'on ne veut pas voyager très loin. Surtout que le plat pays possède des villes charmantes. Voici une sélection de celles qui nous ont tapé dans l\’œil.'">
      </app-featured-article>
      <app-featured-article
        [image]="'./assets/featured-home/siberie.png'"
        [contentType]="'Article'"
        [tags]="['Voyage', 'Sibérie']"
        [title]="'En pleine vague de chaleur, la Sibérie enregistre un nouveau record de tem...'"
        [description]="'Grâce à sa frontière commune avec la France, la Belgique est une destination idéale lorsqu\'on ne veut pas voyager très loin. Surtout que le plat pays possède des villes charmantes. Voici une sélection de celles qui nous ont tapé dans l\’œil.'">
      </app-featured-article>
    </div>
  </div>
</div>

<div class="bg-gris">
  <div class="container">
    <h2 class="page-section">Les + Populaires</h2>
    <app-featured-article
      [image]="'./assets/featured-home/belgique.png'"
      [contentType]="'Article'"
      [tags]="['Voyage', 'Belgique']"
      [title]="'Quelles sont les plus belles villes de Belgique ?'"
      [description]="'Grâce à sa frontière commune avec la France, la Belgique est une destination idéale lorsqu\'on ne veut pas voyager très loin. Surtout que le plat pays possède des villes charmantes. Voici une sélection de celles qui nous ont tapé dans l\’œil.'"></app-featured-article>
      <div class="miniArticles">
        <app-articles-list-mini-item
          [image]="'./assets/mini-article/matcha.png'"
          [tags]="['Culture', 'Japon']"
          [title]="'Tout savoir sur le matcha, la poudre tonique des Japonais.'"></app-articles-list-mini-item>
        <app-articles-list-mini-item
          [image]="'./assets/mini-article/croatie.png'"
          [tags]="['Environnement', 'Croatie']"
          [title]="'Croatie : état de catastrophe naturelle déclaré après la...'"></app-articles-list-mini-item>
        <app-articles-list-mini-item
          [image]="'./assets/mini-article/elevage.png'"
          [tags]="['Environement', 'Espagne']"
          [title]="'Elevage bovin : mea culpa de Greenpeace qui dénonce...'"></app-articles-list-mini-item>
      </div>
  </div>
</div>

<div class="bg-culture-g">
  <div class="container">
    <h2>Testez votre culture générale</h2>
    <h3>AVEC UN DE NOS NOMBREUX QUIZZ</h3>
    <p>Voyagez en toute sérénité, en famille, en couple, entre amis...
      Plus de 8000 idées de voyages à découvrir et personnaliser</p>
      <br>
      <p>JE VEUX ME TESTER</p>
    </div>
  </div>
  <br>
  <br>
  <div class="bg-gris-fonce last-videos">
    <div class="container">
      <h2>Dernières Vidéos</h2>
      <div class="has-2-columns">
        <div class="has-column">
          <img src="../../../assets/video.png" alt="">
          <div class="tag-list">
            <span>Agriculture</span> <span>France</span>
          </div>
          <h3>France: Greenpeace fait son mea culpa sur l'élevage bovin, mais dénonce l'élevage industriel breton</h3>
        </div>
        <div class="has-column">
          <div class="videos">
            <img src="../../../assets/vache.jpg" alt="">
            <div class="tag-list">
              <span>Agriculture</span>
            </div>
            <p>France: Greenpeace fait son mea culpa sur l'élevage bovin, mais dénonce l'élevage indus...</p>
          </div>
          <div class="videos">
            <img src="../../../assets/environnement.jpg" alt="">
            <div class="tag-list">
              <span>Environnement</span>
            </div>
            <p>Environnement : les particules de plastique sont partout</p>
          </div>
          <div class="videos">
            <img src="../../../assets/voyage.jpg" alt="">
            <div class="tag-list">
              <span>Voyage</span>
            </div>
            <p>Du microplastique découvert dans l'écosystème terrestre de l'Antarctique.</p>
          </div>
          <div class="bouton-blanc">
            <p><a href="#">VOIR + DE RÉCITS</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="communaute-photo">
    <div class="container">
      <h2>Communauté photo</h2>
      <span>Il vous reste une semaine pour élire la photo  du mois !</span>
      <div class="community-photos">
        <div class="photo">
          <app-photo-community></app-photo-community>
        </div>
        <div class="photo">
          <app-photo-community
            [image]="'./assets/community/sacrecoeur.png'"
            [author]="'Nicodu16'"
            [title]="'LE SACRÉ COEUR - PARIS'"
            [likes]="768"></app-photo-community>
        </div>
        <div class="photo">
          <app-photo-community
            [image]="'./assets/community/grandcanyon.png'"
            [author]="'Patoudu92'"
            [title]="'LE GRAND CANYON - ÉTATS UNIS'"
            [likes]="547"></app-photo-community>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="boutons">
        <button class="btn-green">En voir +</button>
        <button class="btn-green">Publier mes photos</button>
        <button class="btn-green">Parcourir les fonds d'écran</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="podcasts">
      <div class="left">
        <h2 class="page-section">Derniers podcasts</h2>
        <div class="podcast">
          <app-articles-list-item
            [image]="'./assets/podcasts/pod1.png'"
            [contentType]="podcast"
            [tags]="['Voyage', 'Orcades']"
            [title]="'Vers un monde postcarbone, épisode 3 : les Orcades, ces petites îles...'"
            [description]="'Une alternative crédible aux énergies fossiles est-elle possible ? Pour quels pays ? Avec quels inconvénients ? Pour répondre à ces questions, nous clôturons dans le numéro de mai notre...'"></app-articles-list-item>
        </div>
        <div class="podcast">
          <app-articles-list-item [image]="'./assets/podcasts/pod2.png'"
            [contentType]="podcast"
            [tags]="['Voyage', 'Espagne']"
            [title]="'Indonésie: un tigre de Sumatra découvert empoisonné'"
            [description]="'Un tigre de Sumatra, sans doute empoisonné, a été découvert dans le nord de l\'île indonésienne, a annoncé mardi un responsable du parc national de Batang Gadis....'">
          </app-articles-list-item>
        </div>
        <div class="podcast">
          <app-articles-list-item [image]="'./assets/podcasts/pod3.png'"
            [contentType]="podcast"
            [tags]="['Voyage', 'Espagne']"
            [title]="'Première vague de chaleur dans l\'Europe déconfinée'"
            [description]="'A peine sortis du confinement, de nombreux Européens ont été pris mardi dans une vague de chaleur qui traverse le continent de l\'Espagne à la Suède...'">
          </app-articles-list-item>
        </div>
        <button class="btn-green">Découvrir tous les podcasts</button>
      </div>
      <aside class="right">
        <p>Écoutez aussi sur : <img src="./assets/podcasts/podcasts-platforms.png"></p>
          <img src="./assets/adds/square.png" alt="square">
      </aside>
    </div>
  </div>

  <div class="bg-gris">
    <div class="container">
      <h2 class="page-section">Les + Populaires</h2>
      <app-featured-article [image]="'./assets/featured-home/belgique.png'"
        [contentType]="'Article'"
        [tags]="['Voyage', 'Belgique']"
        [title]="'Quelles sont les plus belles villes de Belgique ?'"
        [description]="'Grâce à sa frontière commune avec la France, la Belgique est une destination idéale lorsqu\'on ne veut pas voyager très loin. Surtout que le plat pays possède des villes charmantes. Voici une sélection de celles qui nous ont tapé dans l\’œil.'">
      </app-featured-article>
      <div class="miniArticles">
        <app-articles-list-mini-item [image]="'./assets/mini-article/matcha.png'"
          [tags]="['Culture', 'Japon']"
          [title]="'Tout savoir sur le matcha, la poudre tonique des Japonais.'"></app-articles-list-mini-item>
        <app-articles-list-mini-item [image]="'./assets/mini-article/croatie.png'"
          [tags]="['Environnement', 'Croatie']"
          [title]="'Croatie : état de catastrophe naturelle déclaré après la...'"></app-articles-list-mini-item>
        <app-articles-list-mini-item [image]="'./assets/mini-article/elevage.png'"
          [tags]="['Environement', 'Espagne']"
          [title]="'Elevage bovin : mea culpa de Greenpeace qui dénonce...'"></app-articles-list-mini-item>
      </div>
    </div>
  </div>

  <div class="bg-green">
    <div class="container magazine">
      <h3>GEO MAGAZINE</h3>
      <div class="center">
        <div class="top-magazine">
          <img src="./assets/magazine/top.png" alt="image">
          <div class="top-content-magazine">
            <h4>Juin 2020</h4>
            <h3>Islande : Échappées en terre<br>de feu et de glace</h3>
            <button>S'abonner au magazine</button>
          </div>
        </div>
        <div class="bottom">
          <div class="left">
            <p>GEO est le magazine de la connaissance du monde. Son contenu riche s’étend bien au-delà du voyage. A travers une
            exigence journalistique et un photojournalisme de terrain, GEO apporte à ses lecteurs depuis son lancement en 1979, une
            prise de recul sur l'évolution du monde, une ouverture sur les cultures et un accès à la connaissance.</p>
            <p>Très contemporain, GEO s’ancre dans le monde actuel, notamment au travers d’enquêtes et de reportages sur l’évolution de
            nos sociétés, les questions qui touchent notre environnement et les grands enjeux géopolitiques du monde.</p>
            <p>Ce mois-ci dans le numéro 496 de GÉO vous retrouverez :</p>
            <ul>
              <li>- Islande : Echappées en terre de feu et de glace</li>
              <li>- Fjords de l'ouest, glaciers, volcans : la nature en spectacle</li>
              <li>-
              Randonnée : Un père et son fils sur la Laugavegur</li>
              <li>- Hornbjarg, le sanctuaire du renard polaire</li>
              <li>- Faune : 20000 merveilles
              sous les mers</li>
              <li>- Pakistan : Le défis quotidien des chrétiens</li>
              <li>- Découverte : L'orient-express à la mode turque</li>
              <li>- Brésil :
              Un fermier qui réinvente la forêt</li>
            </ul>
          </div>
          <div class="right bg-gris-fonce">
            <img src="./assets/magazine/right.png" alt="image">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="page-section">À lire aussi</h2>
    <div class="recomendations">
        <div class="reco">
          <img src="./assets/recomendations/rec1.png" alt="opel">
          <p>Découvrez la nouvelle Opel Corsa pendant les Rendez-Vous Privés OPEL.</p>
        </div>
        <div class="reco">
          <img src="./assets/recomendations/rec2.png" alt="opel">
          <p>Découvrez la nouvelle Opel Corsa pendant les Rendez-Vous Privés OPEL.</p>
        </div>
        <div class="reco">
          <img src="./assets/recomendations/rec3.png" alt="opel">
          <p>Découvrez la nouvelle Opel Corsa pendant les Rendez-Vous Privés OPEL.</p>
        </div>
    </div>
  </div>

  <hr>

  <div>
    <div class="container footer">
        <app-footer-miniature></app-footer-miniature>
        <app-footer-miniature
          [image]="'./assets/footer/foot2.png'"
          [title]="'Geo en version numérique'"
          [description]="'Pour avoir toujours Geo dans votre poche et ne rien manquer de vos actualités préférées.'"></app-footer-miniature>
        <app-footer-miniature
          [image]="'./assets/footer/foot3.png'"
          [title]="'Découvrez la boutique'"
          [description]="'Une sélection de livres et d\'objets originaux, astucieux et indispensables !'"></app-footer-miniature>
    </div>
  </div>

