<section>
    <img src="{{ image }}"
    alt="footer miniature image">
    <div id="content">
        <div id="up">
            <span>{{ contentType }}</span>
            <ul>
                <li><a href="#">Sauvegarder</a></li>
                <li><a href="#">Partager</a></li>
            </ul>
        </div>
        <div id="down">
            <p class="tags" *ngFor="let tag of tags">
                <span href="#">{{ tag }}</span>
            </p>
            <h3>{{ title }}</h3>
            <p>{{ description }}</p>
        </div>
    </div>
</section>
