<section>
    <img src="{{ image }}"
    alt="footer miniature image"
    class="bg-image">
    <div id="content-featured">
        <div id="up">
            <span class="post-type">{{ contentType }}</span>
            <ul class="share-buttons">
                <li><img src="./assets/icons/save.svg" alt="save icon">Sauvegarder</li>
                <li><img src="./assets/icons/share.svg"
                    alt="save icon">Partager</li>
            </ul>
        </div>
        <div id="down">
            <div class="tag-list">
                <span *ngFor="let tag of tags">{{ tag }}</span>
            </div>
            <h3>{{ title }}</h3>
            <p>{{ description }}</p>
        </div>
    </div>
</section>
