@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');


body {
  margin :0;
  padding :0;
  font-family: Rosario;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

h1 {
  font-family: Crimson Text;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 137.4%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

h2 {
  font-family: Crimson Text;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 100.3%;
  /* or 53px */
  text-transform: uppercase;
  color: #000000;
  position: relative;
  &:after {
    content: url('./assets/underline.svg');
    position: absolute;
    bottom: -25px;
    left: 0;
  }
}

h3 {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 120.6%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  /* or 42px */
  color: #FFFFFF;
}



.container {
  max-width: 1324px;
  display: block;
  margin: 0 auto;
  width: 90%;
  padding: 50px 0;
}

.bg-gris {
  background: #F8F8F8;
}

.bg-gris-fonce {
  background: #444A58;
  color: white;
  h2 {
    color: white;
  }
}

.bg-green {
  background: #85BC32;
  color: white;
  h2 {
    color: white;
  }
}

.has-2-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: top;
  .has-column {
    flex-basis: 45%;
    padding: 20px;
  }
}

// .tag {
//   // style for content type tag
//   position: absolute;
//   top: 1.5rem;
// }
.post-type {
  background: rgba(27,27,35, .5);
}

ul {
  // add style for categories tag
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
  }
}

h4 {
  margin-top: 0;
}


.tag-list {
  span {
    color:white;
    background: #444A58;
    text-transform: uppercase;
    font-family: Rosario;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin: 10px;
    padding: 5px 20px;
    letter-spacing: 1px;
    // display: flex;
  }
}

.bouton-blanc {
  p {
    text-align: center;
    a {
      background: white;
      color: #444A58;
      text-decoration: none;
      text-transform: uppercase;
      font-family: Rosario;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      margin: 10px;
      padding: 10px 25px;
      letter-spacing: 1px;

    }
  }
}

.btn-green {
  color: white;
  background: #85BC32;
  text-transform: uppercase;
  font-family: Rosario;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  padding: 15px 20px;
  letter-spacing: 1px;
  border: none;
}

.btn-gray {
  color: white;
  background: #444A58;
  text-transform: uppercase;
  font-family: Rosario;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  padding: 15px 20px;
  letter-spacing: 1px;
  border: none;
}

// override in component not working
#photoTitle {
  font-family: Rosario !important;
}

.share-buttons {
  display: inline-flex;

  li {
    display: flex;
    flex-direction: row;
  }
}
